.App {
  text-align: center;
}

.number {
  display: inline-block;
  width: 6em;
  height: 6em;
  margin: 10px;
  border: 2px solid;
  border-radius: 50%;
  line-height: 6em;
  text-align: center;
  color: #115293;
}

.number h1 {
  margin: 0;
}
